/*Some colors based on:
https://www.w3schools.com/colors/colors_palettes.asp

Color converter:
https://www.w3schools.com/colors/colors_converter.asp

Color names:
https://www.w3schools.com/colors/colors_names.asp

Color opacity based on:
https://www.w3schools.com/css/css3_colors.asp
*/
/* --------
START Nav Styles for MOBILE
-------- */
/* These styles are for background color to the top navigation */
.topnav {
  background-color: #FFE183, 0.5;
  opacity: 0.7;
  overflow: hidden;
}

/* These styles are for the links inside the navigation bar */
.topnav a {
  color: #brown;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
  /* Leave the styles below alone */
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
}

/* These styles when mouse hovers over links */
.topnav a:hover {
  color: black;
}

/* Leave this alone */
.topnav .icon {
  display: none;
}

/* --------
END Nav Styles for MOBILE
-------- */
/* --------
Styles for your mobile webpage
 -------- */
body {
  background: #FFE183;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {}

#logo {
  /* ------ Max width to keep logo image from being larger than intended ------ */
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/* --------
HERO STYLES
-------- */
/* The hero image */
.hero {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("");
  /* Set a specific height
  50vh is 50% of the viewport height */
  height: 50vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body, html {
  height: 100%;
}

.hero-image {
  background-image: url("We+the+People+Image.jpg");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-left {
  float: left;
  width: 65%;
  margin: auto;
  padding-right: 30px;
  padding-top: 30px;
}

.img-right {
  float: right;
  width: 60%;
  margin: auto;
  padding-left: 15px;
}

p {
  margin: 5.5%;
  font-size: 18px;
  font-family: sans-serif;
}

.p-block {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 18px;
}

.text-float-left {
  align-self: stretch;
}

.center {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.col {
  width: 100%;
}

footer {
  text-align: center;
  padding: 35px 0;
}

footer a {
  color: #194035;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* --------
Media Queries
-------- */
@media only screen and (min-width:300px) {

  /* ---- Laptop or tablet styles below ---- */
  .col {
    width: 45%;
    float: left;
    padding: 2%;
  }

  .row::after {
    display: table;
    clear: both;
    content: "";
  }
  
 img {
   padding-bottom: 20px;
}

/* ----
END Laptop or tablet styles below
 ---- */
@media only screen and (min-width:1100px) {

  /* ---- Very large Desktop styles below ---- */
  .col {
    width: 30%;
    float: left;
    padding: 1%;
  }

  .row::after {
    display: table;
    clear: both;
    content: "";
  }
 
  img {
   padding-bottom: 20px;
}
}

/* ---- END Very large Desktop styles below ---- */
/* --------
DO NOT CHANGE ANYTHING BELOW
-------- */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
